:root {
  font-family: 'Times New Roman', Times, serif;
  background-color: #1e1e1e;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  padding: 0;
}

.container-app{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

label{
  font-weight: 700;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

input::selection {
  background-color: #1e1e1e; /* Set the background color for selected text to be transparent */
  color: #396cd8; /* Set the text color for selected text to be white (or your preferred color) */
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-text-fill-color: cyan;
}

button{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
}

input{
  color: cyan;
  background-clip: content-box;
  box-shadow: 0 0 0 1000px #232B2B inset;
  border: 1px solid black;
}

input,
button{
  border-radius: 8px;
  background-color: #1e1e1e;
  padding: 0.6em 1.2em;
  font-weight: 700;
  font-family: inherit;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
  color: white;
}
button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #11574a;
}

.modal{
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSecundar{
  height: 100%; 
  width: 100%; 
  position: absolute;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.baraModal {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  background-color: #11574a;
}

.baraModal #stanga {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.baraModal #dreapta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1%;
  width: 40%;
}


.textTitluModal{
  font-size: 2vw;
  font-weight: bold;
  color: cyan;
}