.baraModalDetaliiEntitate {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    background-color: #11574a;
} 
.baraModalDetaliiEntitate #baraStanga {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}
.baraModalDetaliiEntitate #baraDreapta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
    width: 40%;
}
.containerInputPoza{
    width: 10%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
}
.containerPoza {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.containerButonSchimbaPoza {
    margin-top: 5%;
    width: 100%;
    height: 10%;
    background-color: #11574a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerButonSchimbaPoza label {
    max-width: 90%;
    height: auto;
    border-radius: 0;
    font-size: 1.2vw;
    cursor: pointer;
}
.containerPoza img {
    margin-top: 5%;
    max-height: 90%;
    max-width: 100%;
    width: auto;
}

